/******************************************************************************************************/
/********************************************* GENERAL ************************************************/
/******************************************************************************************************/

html {
    height: 100%;
} 

body {
    width: 100%;
    min-height: 100%;
	margin: 0;
    padding: 0;
    font-family: Rokkitt;
	background-color: #f5f5f5;
}

/******************************************************************************************************/
/************************************************ BODY ************************************************/
/******************************************************************************************************/

body > section {
	width: 94%;
	margin: auto;
}

.section-title {
	display: flex;
	justify-content: left;
}

.h1 {
    width: auto;
	font-size: 2.5em;
	color: #1976D2;
}

.h1--white {
	color: #ffffff;
}

.h2 {
    width: auto;
	font-size: 2em;
    color: #1976D2;
    margin: 0;
}

.h2--white {
	color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

input {
    border-style: none;
    border-color: none;
    border-image: none;
}

.label-form {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;
}

.input-form {
    display: block;
    margin-top: 9px;
    margin-bottom: 9px;
}

.button-validate {
    width: max-content;
    background-color: #1976D2;
    color: #ffffff;
    font-size: 1.2em;
    padding: 9px;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s, box-shadow .2s;
}

.button-neutral {
    width: max-content;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2em;
    padding: 9px;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s, box-shadow .2s;
}

.button-error {
    width: max-content;
    background-color: #D32F2F;
    color: #ffffff;
    font-size: 1.2em;
    padding: 9px;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s, box-shadow .2s;
}

.button-validate--hover:hover, .button-neutral--hover:hover, .button-error--hover:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

/*******************************/
/********** AUTOGRID ***********/

.autogrid-container--row {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* OTHER */
    padding: 0px;
}

.autogrid-container--row > .autogrid-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 23%;
    -ms-flex: 0 1 23%;
    flex: 0 1 23%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
	height: auto;
	margin: 1%;
}

.autogrid-container--column {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* OTHER */
    padding: 0px;
}

.autogrid-container--column > .autogrid-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
	height: auto;
	margin: 0.25%;
}

/*******************************/
/************ CARD *************/

.card-container {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* OTHER */
	height: inherit;
    background-color: #ffffff;
    border: 1px solid #e5e6e9;
    transition: transform .2s, box-shadow .2s;
}

.card-container--hover:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    transform: scale(1.05);
}

.card-item__body {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
    padding: 9px;
    min-width: 176px;
}

.card-item__body h3 {
    margin: 0;
    padding: 0 0 0.5em 0;
    font-family: Rokkitt;
	font-size: 1.5em;
}

.card-item__figure {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
    /* OTHER */
    padding: 9px;
}

.card-item__figure--small {
    height: 80px;
    width: 80px;
}

.card-item__figure--big {
    height: 160px;
    width: 160px;
}

.info-activity--small {
    width: 40px;
}

.info-activity--big {
    width: 80px;
}

.info-contact-container {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* OTHER */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-contact-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
    width: auto;
    font-size: 1.1em;
	font-family: Rokkitt;
}

.info-contact-item img {
    width: 32px;
    float: left;
    padding-right: 9px;
}

.info-contact-item__text {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}

/*******************************/
/***** INPUT AUTOCOMPLETE ******/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 200px;
}

.input-autocomplete {
    width: auto;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.input-autocomplete[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

.input-autocomplete-submit {
    margin-left: 20px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/*******************************/
/********** SNACKBAR ***********/

/* The snackbar - position it at the bottom and in the middle of the screen */
#js-snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    font-size: 1.2em;
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#js-snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, pulsein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, pulsein 0.5s, fadeout 0.5s 2.5s;
}

#js-snackbar.success {
    background-color: #388E3C;
}

#js-snackbar.error {
    background-color: #C62828;
}

#js-snackbar.warning {
    background-color: #E64A19;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes pulsein {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

@keyframes pulsein {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}