/******************************************************************************************************/
/********************************************* GENERAL ************************************************/
/******************************************************************************************************/

html {
    height: 100%;
} 

body {
    width: 100%;
    min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

/******************************************************************************************************/
/************************************************ BODY ************************************************/
/******************************************************************************************************/

body > section {
	width: 94%;
	margin: auto;
}

.section-title {
	display: flex;
	justify-content: left;
}

.h1 {
    width: auto;
	font-family: Rokkitt;
	font-size: 2.5em;
	color: #1976D2;
}

.h2 {
    width: auto;
	font-family: Rokkitt;
	font-size: 2em;
	color: #1976D2;
}

/*******************************/
/********** AUTOGRID ***********/

.autogrid-container--row {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* OTHER */
    padding: 0px;
}

.autogrid-container--row > .autogrid-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 23%;
    -ms-flex: 0 1 23%;
    flex: 0 1 23%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
	height: auto;
	margin: 1%;
}

.autogrid-container--column {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* OTHER */
    padding: 0px;
}

.autogrid-container--column > .autogrid-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
	height: auto;
	margin: 0.25%;
}

/*******************************/
/************ CARD *************/

.card-container {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* OTHER */
	height: inherit;
    background-color: #ffffff;
    border: 1px solid #e5e6e9;
    transition: transform .2s, box-shadow .2s;
}

.card-container--hover:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    transform: scale(1.05);
}

.card-item__body {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
    padding: 9px;
    min-width: 176px;
}

.card-item__body h3 {
    margin: 0;
    padding: 0 0 0.5em 0;
    font-family: Rokkitt;
	font-size: 1.5em;
}

.card-item__figure {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
    /* OTHER */
    padding: 9px;
}

.card-item__figure--small {
    height: 80px;
    width: 80px;
}

.card-item__figure--big {
    height: 160px;
    width: 160px;
}

.info-activity--small {
    width: 40px;
}

.info-activity--big {
    width: 80px;
}

.info-contact-container {
    /* FLEXBOX */
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* OTHER */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-contact-item {
    /* FLEXBOX */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* OTHER */
    width: auto;
    font-size: 1.1em;
	font-family: Rokkitt;
}

.info-contact-item img {
    width: 32px;
    float: left;
    padding-right: 9px;
}

.info-contact-item__text {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}