/******************************************************************************************************/
/********************************************* SIGN IN ************************************************/
/******************************************************************************************************/

.sign-in-wrapper {
    width: 40%;
    min-width: 360px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sign-in__title {
    background-color: #1976D2;
    padding: 18px;
}

.sign-in__form {
    padding: 18px;
}

.sign-in__button {
    padding: 18px;
    text-align: center;
}


